<div class="container-fluid">
    <div class="row">
        <form [formGroup]="numbersForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-4">
                    <div class="row">
                        <label for="english">English:</label>
                        <input type="text" name="english" placeholder="Enter English Word" formControlName="english">
                    </div>
                    <div>
                        <div *ngIf="submitted||f.english.touched">
                            <small *ngIf="f.english.invalid" class="text-danger">*Field is Mandatory</small>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <label for="french">French:</label>
                        <input type="text" name="french" placeholder="Enter French Word" formControlName="target_translation">
                    </div>
                    <div *ngIf="submitted||f.target_translation.touched">
                        <small *ngIf="f.target_translation.invalid" class="text-danger">*Field is Mandatory</small>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <button class="btn btn-success" type="submit">Submit</button>
                        <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>