<div class="container">
    <form>
        <input type="text" placeholder="Enter User Name" formControlName="username">
        <input type="password" placeholder="Enter Password" formControlName="password">
        <button pButton label="Submit"></button>
        <button pButton pRipple type="button" label="Primary"></button>
        <p-button label="Submit"></p-button>
        <button pButton pRipple type="button" label="Info" class="p-button-rounded p-button-info"></button>

    </form>
</div>